<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <providers resource="providers.config"/>

  <!-- 数据库连接信息 -->
  <database>
    <provider name="sqlServer2008"></provider>
    <dataSource name="SqlServer" connectionString="data source=.;database=hjtest;user id=sa;password=123456;" />
  </database>
  <sqlMaps>
    <sqlMap resource="Student.xml" />
  </sqlMaps>
</sqlMapConfig>